html * {
   font-weight:lighter;
}
/* Sticky foot by materialize css: http://materializecss.com/footer.html */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

body p {
    text-align: justify;
}

main {
    flex: 1 0 auto;
}

p {
    word-wrap: break-word;
}

.card-content {
    word-wrap: break-word;
}

.card-content-title {
    font-weight: bold;
}


.nav-wrapper .fa-bars {
    font-size: 25px;
}

footer {
    margin-top: 20px;
}

.paper-text{
    height: 100px;
}

#delete-form {
    display: inline;
}