
<h1>Welcome</h1>
<p>Welcome To Scientific Research</p>
<p>Most Significant and Latest Research Articles and Papers
</p>
{{#if user}}
{{else}}
  <a class="btn red darken-1" href="/auth/google"><i class="fa fa-google left"></i> Login With Google</a>
{{/if}}